:root{
    --background-color-body: #011212;
    --main-width: 100px;
    --main-height: 100px;
    --background-color-ball: #ff8800;
    --border-radius-ball: 50px;

}

body {
    background-color: var(--background-color-body);
}

.ball {
    width: var(--main-height);
    height: var(--main-height);
    background-color: var(--background-color-ball);
    border-radius: var(--border-radius-ball);
}
